.question-container {
    display: block;
    width: 500px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid green;

}

.question-list {
    display: inline-flex;
    margin-left: 0px;
}

.question-card {
    width: 500px;
    height: 400px;
    float: left;
}

span {
    color: red;
}