<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.liferay.ide.server.portal.launch">
<listAttribute key="org.eclipse.jdt.launching.CLASSPATH">
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry containerPath=&quot;org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/jdk1.8.0_121&quot; path=&quot;2&quot; type=&quot;4&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/barrow/Tools/liferay-ce-portal-7.0-ga3/tomcat-8.0.32/bin/bootstrap.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/barrow/Tools/liferay-ce-portal-7.0-ga3/tomcat-8.0.32/bin/tomcat-juli.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/usr/java/jdk1.8.0_121/lib/tools.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/jdk1.8.0_121"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="start"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx1024m -Dcatalina.base=&quot;/home/barrow/Tools/liferay-ce-portal-7.0-ga3/tomcat-8.0.32&quot; -Dcatalina.home=&quot;/home/barrow/Tools/liferay-ce-portal-7.0-ga3/tomcat-8.0.32&quot; -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.port=8099 -Dcom.sun.management.jmxremote.ssl=false -Dfile.encoding=UTF8 -Djava.endorsed.dirs=&quot;/home/barrow/Tools/liferay-ce-portal-7.0-ga3/tomcat-8.0.32/endorsed&quot; -Djava.io.tmpdir=&quot;/home/barrow/Tools/liferay-ce-portal-7.0-ga3/tomcat-8.0.32/temp&quot; -Djava.net.preferIPv4Stack=true -Djava.util.logging.config.file=&quot;/home/barrow/Tools/liferay-ce-portal-7.0-ga3/tomcat-8.0.32/conf/logging.properties&quot; -Djava.util.logging.manager=org.apache.juli.ClassLoaderLogManager -Dorg.apache.catalina.loader.WebappClassLoader.ENABLE_CLEAR_REFERENCES=false -Duser.timezone=GMT -DaQute.agent.server.port=29998"/>
<stringAttribute key="server-id" value="Liferay 7.x at localhost"/>
</launchConfiguration>
